body {
  font-family: 'Arial', sans-serif;
  background-color: #184900;
  color: #333;
  text-align: center;
  padding: 50px;
}

.container {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  background-color: #E61300;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
}

h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.timer {
  font-size: 4em;
  margin: 20px 0;
}

.buttons button {
  font-size: 1em;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  background-color: #ff6347;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttons button:hover {
  background-color: #e5533c;
}

#status {
  margin-top: 20px;
  font-size: 1.2em;
  color: #555;
}
